<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>All Reports</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.png">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
        html,
        body,
        #map {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <script src="../static/scripts/all-pins.js"></script>
    <div id="controls"
        style="padding: 10px; background: white; border-bottom: 1px solid #ccc; position: absolute; z-index: 1000; right: 0px; font-family: 'DM Mono', monospace;">
        <strong>Filter by Severity:</strong>
        <select id="severityFilter" onchange="filterMarkers(this.value)" style="padding: 5px; border-radius: 4px;">
            <option value="all">Show All</option>
            <option value="1">Low (Green)</option>
            <option value="2">Medium (Gold)</option>
            <option value="3">High (Red)</option>
        </select>
    </div>
    <div id="map"></div>
    <a href="/" style="
        position: absolute; 
        bottom: 48px; 
        left: 50%; 
        transform: translateX(-50%); 
        z-index: 1000; 
        padding: 12px 24px;
        background-color: #242424; border-color: #242424; color: #fff; 
        border-radius: 16px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 4px 15px rgba(0,0,0,0.3);
        font-family: 'DM Mono', monospace;
        font-size: 24pt;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        transition: background 0.15s, border-color 0.15s, color 0.15s, transform 0.1s;">
        Home
    </a>
</body>

</html>