<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <!-- <h1>Home Page</h1> -->
    <div class = "phone-layout">

        <div>
        <p class = "label">Press below depending on the severity</p>
        </div>

        <div class = "button-row">
        <button class="button button1">Green</button>
        <button class="button button2">Yellow</button>
        <button class="button button3">Red</button>
        </div>

        <div>
        <p class = "label">Details</p>
        </div>

        <textarea placeholder = "Text here...."></textarea>
        <!-- <div class = "nav-bar">gitv p
            <a href = "#home" class = "active">Home</a>
            <a href = "#reports">Reports</a>
        </div> -->
        <iframe src="test.html" name="test" height="480px" width="100%">You need a Frames Capable browser to view this content.</iframe>   

    </div>
  

</body>
</html>